@media (max-width: 1230px) {
  .first__block .first-square {
    display: none;
  }
  .first__block .first__images {
    padding-left: 35%;
    padding-bottom: 35%;
    margin-top: 0;
    background: url(../img/mobile-bg1.svg) center / 100% no-repeat;
  }
  .first__block .first-dots {
    left: -20%;
    bottom: -5%;
  }
  .second__block .second__content {
    background: none;
  }
  ._container .sixth__block .sixth__solutions {
    background: url(../img/innovative.svg) left 30% no-repeat;
  }
}
@media (max-width: 1184px) {
  .first__block {
    margin-bottom: 20px;
  }
  .third__block {
    gap: 20px;
    justify-content: center;
  }
  .third__block .third-content {
    flex-direction: row;
    justify-content: center;
  }
  ._container .last__block .last__bg {
    display: none;
  }
  ._container .last__block {
    justify-content: center;
  }
  ._container .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
  }
  ._container .last__footer .header-list {
    margin-right: 0;
  }
}
@media (max-width: 1078px) {
  ._container .fifth__block {
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .header .header-content {
    display: none;
  }
  .first__block {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .first__block .first__btns {
    justify-content: center;
  }
  .first__block .first__images {
    padding-left: 100%;
    padding-bottom: 100%;
  }
  .second__block .second__content {
    justify-content: center;
  }
  .second__block .second__text-block {
    justify-content: center;
  }
  .second__block .second-management,
  .second__block .second-development,
  .second__block .second-admin,
  .second__block .second-architecture {
  }

  .second__block .second-management .second__text-block,
  .second__block .second-admin .second__text-block {
    background: url(../img/mob-left.svg) left 30% no-repeat;
    background-size: contain;
    padding: 10px 20px;
  }
  .second__block .second-architecture .second__text-block,
  .second__block .second-development .second__text-block {
    background: url(../img/mob-right.svg) left 20% no-repeat;
    background-size: contain;
    padding: 10px 0 10px 50px;
  }
  .second-img {
    width: 100px;
  }
  .third__block .column2,
  .third__block .column3 {
    display: none;
  }
  .second__block .second-management,
  .second__block .second-development,
  .second__block .second-admin,
  .second__block .second-architecture {
    margin-bottom: 0;
  }
  ._container .fourth__block .fourth__content {
    margin-top: 0;
  }
  ._container .fourth__block {
    width: 100%;
    padding-top: 20px;
    background: url(../img/Conversations.svg) 7% 2%/ 20% no-repeat;
  }
  ._container .fourth__block .fourth-bg {
    padding-bottom: 60%;
    padding-right: 80%;
    background: url(../img/smaill__frame.svg) right top/50% 60% no-repeat,
      url(../img/big_frame.svg) center bottom/contain no-repeat,
      url(../img/planet.svg) right / contain no-repeat;
  }
}
@media (max-width: 768px) {
  .first__block .first__btn {
    padding: 2% 5%;
  }
  ._container .seventh__block {
    justify-content: center;
    gap: 20px;
  }
  ._container .fifth__block .exceptional-bg {
    width: 100%;
  }
  ._container .fifth__block .exceptional__page {
    width: 100%;
    max-height: none;
    min-width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 638px) {
  .first__block .first__btns {
    justify-content: center;
  }

  .third__block .third-text {
    font-size: 15px;
    line-height: 17px;
  }
  ._container .sixth__block .sixth {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  ._container .sixth__block .sixth:nth-of-type(2) {
    flex-wrap: wrap;
  }
  ._container .sixth__block .sixth__scheme {
    width: 100%;
  }
  ._container .sixth__block .sixth__automations,
  ._container .sixth__block .sixth__solutions,
  ._container .sixth__block .sixth__navigating {
    padding: 0;
    background: none;
  }
  ._container .seventh__block .seventh__header {
    padding-top: 42px;
  }
  ._container .last__footer .header-list {
    flex-wrap: wrap;
    gap: 4.5%;
  }
}
@media (max-width: 475px) {
  .first__block {
    justify-content: flex-start;
    text-align: left;
  }
  .watch {
    margin-left: 18px;
  }
  .watch::before {
    bottom: 25%;
  }
  .first__link {
    display: none;
  }
  .second__block .second__content-header {
    min-width: auto;
  }
  ._container .fifth__block .average__page {
    flex: 1 1 auto;
  }
  ._container .fifth__block .exceptional-list {
    padding: 20px 20px;
  }
  ._container .last__block .last-label3 {
    top: 15%;
  }
  ._container .dropdown {
    left: 2%;
    top: 31%;
    right: auto;
  }
  ._container .last__block .last-label4 {
    top: 43%;
  }
  ._container .last__block .last-label5 {
    top: 57%;
  }
  ._container .last__block .last__form label {
    padding: 0 3px;
  }
  ._container .last__block .btn-text {
    text-align: center;
  }
}
