@media (max-width: 1230px) {
  .first__block {
    justify-content: center;
    text-align: center;
  }
  .first__block .first-square {
    display: none;
  }
  .first__block .first__images {
    padding-left: 50%;
    padding-bottom: 50%;
    margin-top: 0;
    background: url(../img/mobile-bg1.svg) center / contain no-repeat;
  }
  .first__block .first-dots {
    left: -20%;
    bottom: -5%;
  }
  .second__block .second__content {
    background: none;
  }
  ._container .sixth__block .sixth__solutions {
    background: url(../img/innovative.svg) left 30% no-repeat;
  }
}
@media (max-width: 1184px) {
  .third__block {
    gap: 20px;
    justify-content: center;
  }
  .third__block .third-content {
    flex-direction: row;
    justify-content: center;
  }
  ._container .last__block .last__bg {
    display: none;
  }
  ._container .last__block {
    justify-content: center;
  }
  ._container .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
  }
  ._container .last__footer .header-list {
    margin-right: 0;
  }
}
@media (max-width: 1078px) {
  ._container .fifth__block {
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .third__block .column2,
  .third__block .column3 {
    display: none;
  }
  .second__block .second-management,
  .second__block .second-development {
    margin-bottom: 0;
  }
  ._container .fourth__block .fourth__content {
    margin-top: 0;
  }
  ._container .fourth__block {
    width: 100%;
    padding-top: 20px;
    background: url(../img/Conversations.svg) 7% 2%/ 20% no-repeat;
  }
  ._container .fourth__block .fourth-bg {
    background: url(../img/smaill__frame.svg) right top/50% 85% no-repeat,
      url(../img/big_frame.svg) center bottom/contain no-repeat,
      url(../img/planet.svg) right / contain no-repeat;
  }
}
@media (max-width: 768px) {
  .first__block .first__images {
    padding-left: 90%;
    padding-bottom: 90%;
  }
  ._container .seventh__block {
    justify-content: center;
    gap: 20px;
  }
  ._container .fifth__block .exceptional-bg {
    width: 100%;
  }
  ._container .fifth__block .exceptional__page {
    width: 100%;
    max-height: none;
    min-width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 638px) {
  .header .header-content {
    display: none;
  }
  .first__block .first__btns {
    justify-content: center;
  }

  .third__block .third-text {
    font-size: 15px;
    line-height: 17px;
  }
  ._container .sixth__block .sixth {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  ._container .sixth__block .sixth:nth-of-type(2) {
    flex-wrap: wrap;
  }
  ._container .sixth__block .sixth__scheme {
    width: 100%;
  }
  ._container .sixth__block .sixth__automations,
  ._container .sixth__block .sixth__solutions,
  ._container .sixth__block .sixth__navigating {
    padding: 0;
    background: none;
  }
  ._container .seventh__block .seventh__header {
    padding-top: 42px;
  }
  ._container .last__footer .header-list {
    flex-wrap: wrap;
    gap: 4.5%;
  }
}
@media (max-width: 475px) {
  .watch {
    margin-left: 18px;
  }

  .first__link {
    display: none;
  }
  .second__block .second__content-header {
    min-width: auto;
  }
  .second__block .second__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: unset;
  }
  ._container .fifth__block .average__page {
    flex: 1 1 auto;
  }
  ._container .fifth__block .exceptional-list {
    padding: 20px 20px;
  }
  ._container .last__block .btn-text {
    text-align: center;
  }
}
